@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.event-container-master{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
}


.eventCards{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 20rem;
    height: 30rem;
    box-shadow: 1px 1px 13px 1px white;
    color:white;
    font-weight: bold;
    background: linear-gradient(rgba(235, 146, 12, 0.1), rgba(253, 123, 2, 0.6)), #cb931b;
    font-family: 'Poiret One';
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.eventCards_images{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 20rem;
    height: 19rem;
}

.eventCards_listing{
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    width: 20rem;
    height: 3rem;
}

.eventCards_button{
    margin: 5px;
    background-color: transparent;
    border: none;
    color: white;
}

.Favorite{
    font-size: 1rem;
    font-family:monospace;
    font-weight: 100;
}

.Favorite:hover{
    color: red;
    cursor: pointer;
  
}


@media (max-width: 375px) {
    .eventCards{
        width: 18rem;
        height: 20rem;
        font-size: 1rem;
    
    }

    .eventCards_images{
        width: 18rem;
        height: 16rem;
    }

    .eventCards_listing{
        width: 18rem;
        font-size: 1.1rem;

    }
}