.tonight-text{
    height: 7rem;
    width: 20rem;
}

.WhatsOn{
    color: #cb931b;
    font-style: italic;
}

.landing-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
