.nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.Logo{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 170px;
    margin: none;
    padding: 20px;

}

.Menu{
    padding: 20px;
    font-size: 2rem;
    color: white;
    margin: 3px;
   
}

.Menu-List{
    padding: 10px;
    color: white;
    list-style: none;
}


.Dropdown{
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: -270px;
    overflow: hidden;
}

.Account{
    text-align: center;
}

@media (max-width: 375px){
    .Logo{
        display: flex;
        flex-direction: row;
        height: 40px;
        width: 120px;
       
    
    }
}
 