.nav-div{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    width: 100vw;
}

.Logo{
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 170px;
    margin: none;
    padding: 20px;
    font-size: 2rem;

}

.Menu{
    padding: 20px;
    font-size: 2rem;
    margin: 3px;
   
}

.Login{
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: #cb931b;
    font-size: 1.7rem;
    font-weight: 200;
}

.Login:hover{
    text-decoration: underline;
    color: red;
    cursor:pointer;
}


.Logout{
    background: transparent;
    align-items: center;
    border: none;
    justify-content: space-evenly;
    width: 210px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    color: #cb931b;
    font-size: 1.7rem;
    font-weight: 200;
}

.Logout:hover{
    text-decoration: underline;
    color: red;
    cursor:pointer;
}




@media (max-width: 375px){
    .Logo{
        display: flex;
        flex-direction: row;
        height: 40px;
        width: 120px;
    }

    .Login{
        font-size: 1rem;
        width: 30vw;
    }

    .Logout{
        font-size: 1rem;
        width: 41vw;
    }



}
