.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.search-bar{
    color: #cb931b;
    background-color: transparent;
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
    width: 19rem;
    height: 2rem;
    transition: ease-in-out;
}

    .select-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        color: #cb931b;
        border-top: 2px solid rgba(255, 255, 255, 0.1) ;
        border-left: 2px solid rgba(255, 255, 255, 0.1) ;
        border-radius: 5px;
        height: 2rem;
        width: 10rem;
        text-align: center;
        margin: 20px;

    }

.submit{
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: 3px double white;
    border-bottom: 3px double white;
    color: #cb931b;
    margin: 10px;
    border-radius: 30px;
    font-size: 0.5rem;
    height: 2.5rem;
    width: 5rem;
}

.submit:hover{
    opacity: 0.8;
}

.userName{
    text-align: center;
    color:  #cb931b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Poiret One';
    font-weight: bold;
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    line-height: -20px;
}

.toContinue{
    color:  #cb931b ;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration:underline;
    text-decoration-thickness:1px;
    font-style: italic;
    color: #fff;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker{
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cb931b,
        0 0 80px #cb931b,
        0 0 90px #cb931b,
        0 0 100px  #cb931b,
        0 0 150px  #cb931b;
    }
        10%, 14%, 20%, 23%, 40% {        
        text-shadow: none;
        opacity: 0.4;
    }    
    
  }
  
  
